<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
    colors="true"
    bootstrap="Tests/bootstrap.php"
>

    <testsuites>
        <testsuite name="ChainRoutingBundle Test Suite">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>.</directory>
            <exclude>
                <file>SymfonyCmfChainRoutingBundle.php</file>
                <directory>DependencyInjection/</directory>
                <directory>Document/</directory>
                <directory>Resources/</directory>
                <directory>Test/</directory>
                <directory>Tests/</directory>
                <directory>vendor/</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
