<?php

if (! file_exists($file = __DIR__.'/../vendor/.composer/autoload.php')) {
    die ("\nYou need to run composer before you can run the routing tests\n");
}
require_once $file;


spl_autoload_register(function($class) {
    $class = ltrim($class, '\\');
    if (0 === strpos($class, 'Symfony\\Cmf\\Bundle\\ChainRoutingBundle\\')) {
        $file = __DIR__.'/../'.str_replace('\\', '/', substr($class, strlen('Symfony\\Cmf\\Bundle\\ChainRoutingBundle\\'))).'.php';
        if (file_exists($file)) {
            require $file;
        }
    }
});
